# umadnomad custom for IntelliJ IDEA, Java development

# Ignore everything
/*

# With the exception of these folders
!src/
!.idea/

# ...Inside this last directory, ignore all its files and folders
.idea/*
.idea/*/

# ...Except all the xml files...
!.idea/*.xml

# ...But not these:
.idea/tasks.xml
.idea/workspace.xml
.idea/dictionaries

# Lastly, do not ignore these files
!.gitignore
!*.iml
