# umadnomad custom for NetBeans, Java development

# Prevent this file from sinking into oblivion
!.gitignore

# Ignore all the files
/*

# Ignore all the directories
/*/

# With the exception of these
!src/
!test/
!nbproject

# ...Inside this last directory, ignore all its files and folders
nbproject/*
nbproject/*/

# Except these files
!nbproject/project.*
